h3 {
  text-align: center;
  padding-top: 70px;
  font-size: 25px;
}
.section-tools {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 99vw;
  gap: 3%;
  padding: var(--padding-l);
}
.skills-article {
  width: fit-content;
  z-index: 5;
  padding: 20px;
  text-align: center;
}
.img-name {
  height: 80px;
  padding-bottom: 10px;
}
